exportPattern("^[[:alpha:]]+")
import(stats)
export(count_mat)
export(chisq.indep)
export(odds.ratios)
export(plot.local.or)
export(catbarchart)
export(continous2categorical)
import(ggplot2)
import(gridExtra)
